@import "bootstrap";



.booyah-box {
	-moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
	-webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
	box-shadow: 1px 1px 2px 0 #d0d0d0;
	background: #fff;
	border: 1px solid #ccc;
	border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
	margin-top: 10px;
	margin-bottom: 15px;
	padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

body {
	background: image_url('bloom.png');
	font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar {
	background: image_url('darkbar.png');
  	box-shadow: 0px 4px 6px #2a2a2a;
}

.navbar-inverse .navbar-brand {
	color: #178AB0;
    font-family: 'acherusgrotesque-regular';
	font-weight: 600;
	letter-spacing: -0.3px;
	font-size: 26px;
}



.pagination-style {
  background: white;
  cursor: default;
  /* self-clearing method: */ }
  .pagination-style a, .pagination-style span, .pagination-style em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px; }
  .pagination-style .disabled {
    color: #999999;
    border: 1px solid #dddddd; }
  .pagination-style .current {
    font-style: normal;
    font-weight: bold;
    background: #2e6ab1;
    color: white;
    border: 1px solid #2e6ab1; }
  .pagination-style a {
    text-decoration: none;
    color: #105cb6;
    border: 1px solid #9aafe5; }
    .pagination-style a:hover, .pagination-style a:focus {
      color: #000033;
      border-color: #000033; }
  .pagination-style .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center; }
    .pagination-style .page_info b {
      color: #000033;
      background: #6aa6ed;
      padding: 0.1em 0.25em; }
  .pagination-style:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .digg_pagination {
    height: 1%; }
  *:first-child + html .pagination-style {
    overflow: hidden; }